

<body ng-controller="postController">
   

<h2> {{contact}}</h2>
<form class="col s12"   name="searchForm" novalidate role="form" ng-submit="submitForm()">
    <div class="row">
         <div class="input-field col s12">
            Id:
               <input  name="name" id="name" type="text" placeholder="Id" ng-model="form.id" validation-form-number >
            <span style="color: red;" ng-show="searchForm.name.$error.number">Invalid value</span>
     
         </div>
    </div>
    <div class="row">
       <div class="input-field col s12">
           UserID:
          <input placeholder="UserId" id="UserId" type="number" ng-model="form.userId"></input>     
       </div>
    </div>			
    <div class="row">
       <div class="input-field col s12">
           Title:
          <input placeholder="Title" id="title" type="text" ng-model="form.title" ></input>
          
       </div>
         <div class="row">
       <div class="input-field col s12">
           Body:
          <input placeholder="Body" id="body" type="text" ng-model="form.body" ></input>
          
       </div>
    </div>
    <div class="row">
       <div class="input-field col s12">
          
           <button class="btn waves-effect waves-teal" type="submit" class="btn btn-primary">Submit</button>
       </div>
    </div>
   
</form>
</body>